Repository massalabs/echo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0 --no-warn-ignored, prettier --check

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["eslint --max-warnings 0 --no-warn-ignored"],
  "*.{js,jsx,ts,tsx,json,css,md}": ["prettier --check"]
}

fix ui
  src/components/account/MessageField.tsx
  src/components/discussions/DiscussionList.tsx
  src/components/settings/ShareContact.tsx
  src/components/ui/BottomNavigation.tsx
  src/components/ui/MainLayout.tsx
  src/hooks/useContactForm.ts
  src/index.css
  src/pages/Discussions.tsx
  src/pages/Settings.tsx
  src/pages/Wallet.tsx
  src/utils/qrCodeUrl.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --check

testFlight upload
  .github/workflows/fastlane.yml
  .github/workflows/ios-build.yml
  .gitignore
  ios/App/App.xcodeproj/xcshareddata/xcschemes/Gossip.xcscheme
  ios/App/Gemfile
  ios/App/fastlane/Appfile
  ios/App/fastlane/Fastfile
Due: none

testFlight upload
  .github/workflows/fastlane.yml
  ios/App/Gemfile
Due: none

refactor: improve discussion list filtering and QR code color handling
  src/components/discussions/DiscussionList.tsx
  src/components/settings/ShareContact.tsx
  src/components/ui/MainLayout.tsx
  src/components/ui/QRCode.tsx
  src/components/ui/QRCodeCanvas.tsx
  src/components/ui/QRCodeSVG.tsx
  src/utils/qrCodeColors.ts
  src/utils/qrCodeUrl.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --check

refactor: consolidate QR code components and enhance functionality
  src/components/settings/ShareContact.tsx
  src/components/ui/QRCode.tsx
  src/components/ui/QRCodeCanvas.tsx
  src/components/ui/QRCodeSVG.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --check

refactor: temporarily disable QR code generation for username in ShareContact component
  src/components/settings/ShareContact.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --check

Update src/pages/Wallet.tsx
  src/pages/Wallet.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --check

Update src/components/ui/QRCode.tsx
  src/components/ui/QRCode.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --check

Update src/utils/qrCodeColors.ts
  src/utils/qrCodeColors.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --check

Update src/pages/Discussions.tsx
  src/pages/Discussions.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --check

Update src/hooks/useContactForm.ts
  src/hooks/useContactForm.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --check

refactor: update max-width for various components to improve layout consistency
  src/components/OnboardingFlow.tsx
  src/components/account/AccountBackup.tsx
  src/components/account/AccountCreation.tsx
  src/components/account/AccountImport.tsx
  src/components/account/AccountSelection.tsx
  src/components/settings/ShareContact.tsx
  src/components/ui/BaseModal.tsx
  src/components/ui/BottomNavigation.tsx
  src/components/ui/MainLayout.tsx
  src/components/ui/PageHeader.tsx
  src/components/wallet/ConfirmTransactionDialog.tsx
  src/components/wallet/FeeConfigModal.tsx
  src/pages/Contact.tsx
  src/pages/Discussion.tsx
  src/pages/Discussions.tsx
  src/pages/Login.tsx
  src/pages/NewContact.tsx
  src/pages/NewDiscussion.tsx
  src/pages/Settings.tsx
  src/pages/Wallet.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --check

refactor: remove NewContactHeader component and update related pages to use PageHeader
  src/components/account/NewContactHeader.tsx
  src/components/settings/ShareContact.tsx
  src/pages/Contact.tsx
  src/pages/Discussions.tsx
  src/pages/NewContact.tsx
  src/pages/NewDiscussion.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --check

refactor: optimize discussion list rendering and update layout for discussion page
  src/components/discussions/DiscussionList.tsx
  src/pages/Discussion.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --check

fix: correct class name for announcement message in MessageList component
  src/components/discussions/MessageList.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --check

Update src/components/account/MessageField.tsx
  src/components/account/MessageField.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --check

Update src/pages/Contact.tsx
  src/pages/Contact.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --check

Update src/pages/NewContact.tsx
  src/pages/NewContact.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --check

Update src/components/settings/ShareContact.tsx
  src/components/settings/ShareContact.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --check

Update src/utils/qrCodeUrl.ts
  src/utils/qrCodeUrl.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --check

refactor: update FormInput component to make label optional and remove character count from MessageField
  src/components/account/MessageField.tsx
  src/components/ui/FormInput.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --check

refactor: clean up qrCodeUrl.ts by removing unused import
  src/utils/qrCodeUrl.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --check

feat: add QR code to share ID (#106)
  package-lock.json
  package.json
  src/components/OnboardingFlow.tsx
  src/components/account/AccountBackup.tsx
  src/components/account/AccountCreation.tsx
  src/components/account/AccountImport.tsx
  src/components/account/AccountSelection.tsx
  src/components/account/MessageField.tsx
  src/components/account/NewContactHeader.tsx
  src/components/discussions/DiscussionList.tsx
  src/components/discussions/MessageList.tsx
  src/components/settings/ShareContact.tsx
  src/components/ui/BaseModal.tsx
  src/components/ui/BottomNavigation.tsx
  src/components/ui/FormInput.tsx
  src/components/ui/MainLayout.tsx
  src/components/ui/PageHeader.tsx
  src/components/ui/QRCode.tsx
  src/components/wallet/ConfirmTransactionDialog.tsx
  src/components/wallet/FeeConfigModal.tsx
  src/hooks/useContactForm.ts
  src/index.css
  src/pages/Contact.tsx
  src/pages/Discussions.tsx
  src/pages/Login.tsx
  src/pages/NewContact.tsx
  src/pages/NewDiscussion.tsx
  src/pages/Settings.tsx
  src/pages/Wallet.tsx
  src/utils/qrCodeColors.ts
  src/utils/qrCodeUrl.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --check

refactor: enhance AccountCreation component layout and styling
  src/components/account/AccountCreation.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --check

fix: update text wrapping in DiscussionListItem and refactor ShareContact component layout
  src/components/discussions/DiscussionListItem.tsx
  src/components/settings/ShareContact.tsx
  src/pages/Settings.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --check

resend announcement wip
  src/App.tsx
  src/components/discussions/DiscussionList.tsx
  src/components/discussions/DiscussionListItem.tsx
  src/crypto/discussionInit.ts
  src/db.ts
  src/hooks/useDiscussion.ts
  src/hooks/useResendFailedMessages.ts
  src/pages/Contact.tsx
  src/pages/Discussion.tsx
  src/pages/NewDiscussion.tsx
  src/services/announcement.ts
  src/services/message.ts
  src/stores/discussionStore.tsx
  src/stores/messageStore.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --check

add forgotten files
  src/hooks/useResendFailedBlobs.ts
  src/services/discussion.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --check

improve qr code loading
  src/components/settings/ShareContact.tsx
  src/hooks/usePreloadShareContact.ts
  src/pages/Settings.tsx
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --check

feat: implement deep link handling for QR code scanning
  capacitor.config.ts
  package-lock.json
  package.json
  public/_redirects
  src/App.tsx
  src/components/DeepLinkHandler.tsx
  src/pages/Login.tsx
  src/pages/NewContact.tsx
  src/routes/AuthenticatedRoutes.tsx
  src/routes/UnauthenticatedRoutes.tsx
  src/utils/deepLinkStorage.ts
  vite.config.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --check

try fastlane
  .github/workflows/fastlane.yml
  ios/App/.ruby-version
  ios/App/fastlane/Fastfile
  ios/App/fastlane/Matchfile
Due: none

make ci not download all internet
  .github/workflows/fastlane.yml
  ios/App/fastlane/Matchfile
Due: none

update stack
  .github/workflows/fastlane.yml
  ios/App/fastlane/Fastfile
Due: none

fix option
  ios/App/fastlane/Fastfile
Due: none

feat: add QR code scanning functionality and related enhancements
  index.html
  package-lock.json
  package.json
  src/components/settings/ScanQRCode.tsx
  src/components/ui/QRScanner.tsx
  src/components/ui/icons/index.tsx
  src/hooks/usePreloadShareContact.ts
  src/index.css
  src/pages/Login.tsx
  src/pages/NewContact.tsx
  src/pages/Settings.tsx
  src/utils/qrCodeParser.ts
  vite.config.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --check

readonly false
  ios/App/fastlane/Fastfile
Due: none

use appstore api key
  .github/workflows/fastlane.yml
  ios/App/fastlane/Fastfile
  package-lock.json
Due: prettier --check

set appstore instead of dev (required for testflight)
  ios/App/fastlane/Fastfile
  ios/App/fastlane/Matchfile
Due: none

remove unused settings table
  src/db.ts
Due: eslint --max-warnings 0 --no-warn-ignored, prettier --check

update xcode version
  .github/workflows/fastlane.yml
Due: none
