Repository massalabs/echo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0, prettier --check

add echo face logo
  package-lock.json
  package.json
  src/assets/echo_face.svg
  src/assets/react.svg
  src/components/MainApp.tsx
  src/components/OnboardingFlow.tsx
  src/components/UsernameSetup.tsx
  vite.config.ts
Due: eslint --max-warnings 0, prettier --check

add password & massa account creation
  src/App.tsx
  src/components/UsernameSetup.tsx
  src/crypto/keyDerivation.tsx
  src/db.ts
  src/stores/accountStore.tsx
Due: eslint --max-warnings 0, prettier --check

add onboarding with biometrics
  src/App.tsx
  src/components/MainApp.tsx
  src/components/UsernameSetup.tsx
  src/crypto/webauthn.ts
  src/db.ts
  src/stores/accountStore.tsx
  src/types/webauthn.d.ts
  src/utils/addressUtils.ts
Due: eslint --max-warnings 0, prettier --check

add main screens
  package-lock.json
  package.json
  src/assets/icons/discussion.svg
  src/assets/icons/discussion_active.svg
  src/assets/icons/receive.svg
  src/assets/icons/send.svg
  src/assets/icons/settings.svg
  src/assets/icons/settings_active.svg
  src/assets/icons/swap.svg
  src/assets/icons/wallet.svg
  src/assets/icons/wallet_active.svg
  src/components/BottomNavigation.tsx
  src/components/MainApp.tsx
  src/components/Settings.tsx
  src/components/Wallet.tsx
  src/crypto/bip39.ts
  src/crypto/webauthn.ts
  src/db.ts
  src/main.tsx
  src/stores/accountStore.tsx
  vite.config.ts
Due: eslint --max-warnings 0, prettier --check

add mnemonic backup flow
  src/components/MnemonicBackup.tsx
  src/components/Settings.tsx
  src/components/UsernameSetup.tsx
  src/crypto/bip39.ts
  src/db.ts
  src/stores/accountStore.tsx
Due: eslint --max-warnings 0, prettier --check

add welcome back screen
  README.md
  src/App.tsx
  src/components/AccountCreation.tsx
  src/components/AccountImport.tsx
  src/components/AccountSelection.tsx
  src/components/MainApp.tsx
  src/components/WelcomeBack.tsx
  src/crypto/webauthn.ts
  src/stores/accountStore.tsx
Due: eslint --max-warnings 0, prettier --check

use MAS logo
  src/assets/MAS.svg
  src/components/Wallet.tsx
Due: eslint --max-warnings 0, prettier --check

add wasm crypto modules and update gitignore
  .gitignore
  wasm/Cargo.lock
  wasm/Cargo.toml
  wasm/crypto-cipher/Cargo.toml
  wasm/crypto-cipher/src/lib.rs
  wasm/crypto-kdf/Cargo.toml
  wasm/crypto-kdf/src/lib.rs
  wasm/crypto-kem/Cargo.toml
  wasm/crypto-kem/src/lib.rs
  wasm/crypto-rng/Cargo.toml
  wasm/crypto-rng/README.md
  wasm/crypto-rng/examples/basic_usage.rs
  wasm/crypto-rng/src/lib.rs
  wasm/echo-session/Cargo.toml
  wasm/echo-session/src/lib.rs
Due: prettier --check

add messaging in session
  wasm/echo-session/src/lib.rs
Due: none

fixes
  wasm/echo-session/src/lib.rs
Due: none

split and tests
  wasm/Cargo.lock
  wasm/Cargo.toml
  wasm/crypto-agraphon/Cargo.toml
  wasm/crypto-agraphon/src/agraphon.rs
  wasm/crypto-agraphon/src/announcement.rs
  wasm/crypto-agraphon/src/announcement_root_kdf.rs
  wasm/crypto-agraphon/src/history.rs
  wasm/crypto-agraphon/src/lib.rs
  wasm/crypto-agraphon/src/message_integrity_kdf.rs
  wasm/crypto-agraphon/src/message_root_kdf.rs
  wasm/crypto-agraphon/src/seeker_kdf.rs
  wasm/crypto-agraphon/src/static_kdf.rs
  wasm/crypto-agraphon/src/types.rs
  wasm/crypto-kem/Cargo.toml
  wasm/crypto-kem/src/lib.rs
  wasm/echo-session/src/lib.rs
Due: none

fix tests
  wasm/crypto-agraphon/src/announcement_root_kdf.rs
  wasm/crypto-agraphon/src/message_integrity_kdf.rs
  wasm/crypto-agraphon/src/message_root_kdf.rs
  wasm/crypto-agraphon/src/seeker_kdf.rs
  wasm/crypto-agraphon/src/static_kdf.rs
  wasm/crypto-agraphon/src/types.rs
  wasm/crypto-kem/src/lib.rs
Due: none

security warning
  wasm/crypto-agraphon/src/announcement.rs
Due: none

docs
  wasm/crypto-agraphon/src/agraphon.rs
  wasm/crypto-agraphon/src/lib.rs
Due: none

zeroize warning
  wasm/crypto-agraphon/src/lib.rs
Due: none

docs warn
  wasm/crypto-agraphon/src/lib.rs
Due: none

zeroization
  wasm/Cargo.lock
  wasm/crypto-kem/Cargo.toml
  wasm/crypto-kem/src/lib.rs
Due: none

zeroization
  wasm/crypto-agraphon/src/agraphon.rs
  wasm/crypto-agraphon/src/announcement.rs
  wasm/crypto-agraphon/src/announcement_root_kdf.rs
  wasm/crypto-agraphon/src/history.rs
  wasm/crypto-agraphon/src/lib.rs
  wasm/crypto-agraphon/src/message_integrity_kdf.rs
  wasm/crypto-agraphon/src/message_root_kdf.rs
  wasm/crypto-agraphon/src/seeker_kdf.rs
  wasm/crypto-agraphon/src/static_kdf.rs
  wasm/crypto-agraphon/src/types.rs
  wasm/crypto-cipher/src/lib.rs
  wasm/crypto-kem/src/lib.rs
  wasm/crypto-rng/examples/basic_usage.rs
Due: none

const time
  wasm/Cargo.lock
  wasm/crypto-agraphon/Cargo.toml
  wasm/crypto-agraphon/src/agraphon.rs
  wasm/crypto-agraphon/src/announcement.rs
Due: none

fmt
  wasm/crypto-agraphon/src/announcement.rs
Due: none

zeroization
  wasm/crypto-agraphon/src/agraphon.rs
  wasm/crypto-agraphon/src/announcement.rs
Due: none

zeroization bis
  wasm/crypto-agraphon/src/agraphon.rs
  wasm/crypto-kem/src/lib.rs
Due: none

docs
  wasm/crypto-agraphon/src/lib.rs
Due: none

typos
  wasm/crypto-agraphon/src/history.rs
Due: none

add DSA
  wasm/Cargo.lock
  wasm/Cargo.toml
  wasm/crypto-dsa/Cargo.toml
  wasm/crypto-dsa/src/lib.rs
Due: none

DSA docs
  wasm/crypto-dsa/src/lib.rs
Due: none

fix get started
  package.json
  src/App.tsx
  src/components/Wallet.tsx
Due: eslint --max-warnings 0, prettier --check

auth
  wasm/Cargo.lock
  wasm/Cargo.toml
  wasm/auth/Cargo.toml
  wasm/auth/src/auth_blob.rs
  wasm/auth/src/lib.rs
  wasm/auth/src/types.rs
  wasm/crypto-agraphon/src/agraphon.rs
  wasm/crypto-agraphon/src/announcement.rs
  wasm/crypto-agraphon/src/announcement_root_kdf.rs
  wasm/crypto-agraphon/src/history.rs
  wasm/crypto-agraphon/src/message_integrity_kdf.rs
  wasm/crypto-agraphon/src/message_root_kdf.rs
  wasm/crypto-agraphon/src/seeker_kdf.rs
  wasm/crypto-agraphon/src/static_kdf.rs
  wasm/crypto-agraphon/src/types.rs
  wasm/crypto-cipher/src/lib.rs
  wasm/crypto-dsa/src/lib.rs
  wasm/crypto-kdf/src/lib.rs
  wasm/crypto-kem/src/lib.rs
  wasm/crypto-password-kdf/Cargo.toml
  wasm/crypto-password-kdf/src/lib.rs
Due: none

auth
  wasm/Cargo.lock
  wasm/Cargo.toml
  wasm/auth/src/auth_blob.rs
  wasm/auth/src/types.rs
  wasm/crypto-agraphon/src/agraphon.rs
  wasm/crypto-agraphon/src/announcement.rs
  wasm/crypto-agraphon/src/lib.rs
  wasm/session/Cargo.toml
  wasm/session/src/lib.rs
  wasm/session/src/session.rs
  wasm/session/src/session_manager.rs
  wasm/session/src/types.rs
  wasm/session/src/utils.rs
Due: none

padding
  wasm/session/src/session.rs
  wasm/session/src/session_manager.rs
Due: none

aead implementation
  wasm/Cargo.lock
  wasm/Cargo.toml
  wasm/auth/Cargo.toml
  wasm/crypto-aead/Cargo.toml
  wasm/crypto-aead/src/lib.rs
  wasm/crypto-agraphon/Cargo.toml
  wasm/crypto-agraphon/src/agraphon.rs
  wasm/crypto-agraphon/src/announcement.rs
  wasm/crypto-agraphon/src/announcement_root_kdf.rs
  wasm/crypto-agraphon/src/lib.rs
  wasm/crypto-agraphon/src/message_root_kdf.rs
  wasm/crypto-cipher/src/lib.rs
  wasm/session/src/session.rs
  wasm/session/src/session_manager.rs
  wasm/session/src/types.rs
Due: none

rework authent
  package-lock.json
  package.json
  src/App.tsx
  src/components/AccountCreation.tsx
  src/components/AccountImport.tsx
  src/components/AccountSelection.tsx
  src/components/DebugOverlay.tsx
  src/components/MainApp.tsx
  src/components/OnboardingFlow.tsx
  src/components/WelcomeBack.tsx
  src/components/debugLogs.ts
  src/crypto/bip39.ts
  src/crypto/encryption.ts
  src/crypto/keyDerivation.tsx
  src/crypto/webauthn.ts
  src/db.ts
  src/main.tsx
  src/stores/accountStore.tsx
  vite.config.ts
Due: eslint --max-warnings 0, prettier --check

use common password validation
  src/components/AccountCreation.tsx
  src/components/AccountImport.tsx
  src/stores/accountStore.tsx
  src/utils/validation.ts
Due: eslint --max-warnings 0, prettier --check

add deweb workflow
  .github/workflows/deweb.yml
  deweb_cli_config.buildnet.json
Due: prettier --check

add favicon
  public/favicon-64.png
Due: none

support OS darkmode
  public/favicon.svg
  pwa-assets.config.ts
  src/components/AccountCreation.tsx
  src/components/AccountImport.tsx
  src/components/BottomNavigation.tsx
  src/components/MainApp.tsx
  src/components/MnemonicBackup.tsx
  src/components/OnboardingFlow.tsx
  src/components/Settings.tsx
  src/components/Wallet.tsx
  src/components/WelcomeBack.tsx
  tailwind.config.js
Due: eslint --max-warnings 0, prettier --check

rework account creation page
  src/components/AccountCreation.tsx
  src/components/AccountSelection.tsx
  src/components/MainApp.tsx
Due: eslint --max-warnings 0, prettier --check

various ui improvements
  src/components/AccountImport.tsx
  src/components/WelcomeBack.tsx
Due: eslint --max-warnings 0, prettier --check

add privatekey import/export
  package-lock.json
  package.json
  src/components/AccountBackup.tsx
  src/components/AccountImport.tsx
  src/components/MnemonicBackup.tsx
  src/components/Settings.tsx
  src/crypto/bip39.ts
  src/stores/accountStore.tsx
Due: eslint --max-warnings 0, prettier --check

add new discussion flow
  src/components/Discussion.tsx
  src/components/MainApp.tsx
  src/components/NewContact.tsx
  src/components/NewDiscussion.tsx
  src/components/Settings.tsx
  src/components/avatar/ContactAvatar.tsx
  src/db.ts
  src/hooks/useMessages.ts
  src/index.css
  src/stores/accountStore.tsx
  src/utils/addressUtils.ts
  src/utils/validation.ts
Due: eslint --max-warnings 0, prettier --check

Path conditions:
  eslint --max-warnings 0: any of: *.{ts,tsx}
  prettier --check: any of: *.{js,jsx,ts,tsx,json,css,md}
