Repository massalabs/echo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0, prettier --check

add wasm crypto modules and update gitignore
  .gitignore
  wasm/Cargo.lock
  wasm/Cargo.toml
  wasm/crypto-cipher/Cargo.toml
  wasm/crypto-cipher/src/lib.rs
  wasm/crypto-kdf/Cargo.toml
  wasm/crypto-kdf/src/lib.rs
  wasm/crypto-kem/Cargo.toml
  wasm/crypto-kem/src/lib.rs
  wasm/crypto-rng/Cargo.toml
  wasm/crypto-rng/README.md
  wasm/crypto-rng/examples/basic_usage.rs
  wasm/crypto-rng/src/lib.rs
  wasm/echo-session/Cargo.toml
  wasm/echo-session/src/lib.rs
Due: prettier --check

docs warn
  wasm/crypto-agraphon/src/lib.rs
Due: none

zeroization bis
  wasm/crypto-agraphon/src/agraphon.rs
  wasm/crypto-kem/src/lib.rs
Due: none

zeroization
  wasm/crypto-agraphon/src/agraphon.rs
  wasm/crypto-agraphon/src/announcement.rs
  wasm/crypto-agraphon/src/announcement_root_kdf.rs
  wasm/crypto-agraphon/src/history.rs
  wasm/crypto-agraphon/src/lib.rs
  wasm/crypto-agraphon/src/message_integrity_kdf.rs
  wasm/crypto-agraphon/src/message_root_kdf.rs
  wasm/crypto-agraphon/src/seeker_kdf.rs
  wasm/crypto-agraphon/src/static_kdf.rs
  wasm/crypto-agraphon/src/types.rs
  wasm/crypto-cipher/src/lib.rs
  wasm/crypto-kem/src/lib.rs
  wasm/crypto-rng/examples/basic_usage.rs
Due: none

zeroization
  wasm/Cargo.lock
  wasm/crypto-kem/Cargo.toml
  wasm/crypto-kem/src/lib.rs
Due: none

add DSA
  wasm/Cargo.lock
  wasm/Cargo.toml
  wasm/crypto-dsa/Cargo.toml
  wasm/crypto-dsa/src/lib.rs
Due: none

add wasm wrapper
  wasm/Cargo.lock
  wasm/Cargo.toml
  wasm/crypto-agraphon/src/announcement.rs
  wasm/main/Cargo.toml
  wasm/main/README.md
  wasm/main/examples/aead_usage.md
  wasm/main/src/lib.rs
  wasm/sessions/Cargo.toml
  wasm/sessions/src/session.rs
  wasm/sessions/src/session_manager.rs
Due: prettier --check

auth
  wasm/Cargo.lock
  wasm/Cargo.toml
  wasm/auth/Cargo.toml
  wasm/auth/src/auth_blob.rs
  wasm/auth/src/lib.rs
  wasm/auth/src/types.rs
  wasm/crypto-agraphon/src/agraphon.rs
  wasm/crypto-agraphon/src/announcement.rs
  wasm/crypto-agraphon/src/announcement_root_kdf.rs
  wasm/crypto-agraphon/src/history.rs
  wasm/crypto-agraphon/src/message_integrity_kdf.rs
  wasm/crypto-agraphon/src/message_root_kdf.rs
  wasm/crypto-agraphon/src/seeker_kdf.rs
  wasm/crypto-agraphon/src/static_kdf.rs
  wasm/crypto-agraphon/src/types.rs
  wasm/crypto-cipher/src/lib.rs
  wasm/crypto-dsa/src/lib.rs
  wasm/crypto-kdf/src/lib.rs
  wasm/crypto-kem/src/lib.rs
  wasm/crypto-password-kdf/Cargo.toml
  wasm/crypto-password-kdf/src/lib.rs
Due: none

session manager updates
  wasm/sessions/src/lib.rs
  wasm/sessions/src/session.rs
  wasm/sessions/src/session_manager.rs
Due: none

padding
  wasm/session/src/session.rs
  wasm/session/src/session_manager.rs
Due: none

aead implementation
  wasm/Cargo.lock
  wasm/Cargo.toml
  wasm/auth/Cargo.toml
  wasm/crypto-aead/Cargo.toml
  wasm/crypto-aead/src/lib.rs
  wasm/crypto-agraphon/Cargo.toml
  wasm/crypto-agraphon/src/agraphon.rs
  wasm/crypto-agraphon/src/announcement.rs
  wasm/crypto-agraphon/src/announcement_root_kdf.rs
  wasm/crypto-agraphon/src/lib.rs
  wasm/crypto-agraphon/src/message_root_kdf.rs
  wasm/crypto-cipher/src/lib.rs
  wasm/session/src/session.rs
  wasm/session/src/session_manager.rs
  wasm/session/src/types.rs
Due: none

update session system
  wasm/Cargo.lock
  wasm/Cargo.toml
  wasm/crypto-agraphon/src/agraphon.rs
  wasm/crypto-agraphon/src/announcement.rs
  wasm/crypto-agraphon/src/announcement_auth_kdf.rs
  wasm/crypto-agraphon/src/announcement_root_kdf.rs
  wasm/crypto-agraphon/src/history.rs
  wasm/crypto-agraphon/src/lib.rs
  wasm/crypto-agraphon/src/message_integrity_kdf.rs
  wasm/crypto-agraphon/src/message_root_kdf.rs
  wasm/crypto-agraphon/src/seeker_kdf.rs
  wasm/crypto-agraphon/src/static_kdf.rs
  wasm/crypto-agraphon/src/types.rs
  wasm/crypto-kem/src/lib.rs
  wasm/session/src/session.rs
  wasm/session/src/session_manager.rs
  wasm/session/src/types.rs
  wasm/sessions/Cargo.toml
  wasm/sessions/src/lib.rs
  wasm/sessions/src/session.rs
  wasm/sessions/src/session_manager.rs
  wasm/sessions/src/utils.rs
Due: none

DSA docs
  wasm/crypto-dsa/src/lib.rs
Due: none

auth
  wasm/Cargo.lock
  wasm/Cargo.toml
  wasm/auth/src/auth_blob.rs
  wasm/auth/src/types.rs
  wasm/crypto-agraphon/src/agraphon.rs
  wasm/crypto-agraphon/src/announcement.rs
  wasm/crypto-agraphon/src/lib.rs
  wasm/session/Cargo.toml
  wasm/session/src/lib.rs
  wasm/session/src/session.rs
  wasm/session/src/session_manager.rs
  wasm/session/src/types.rs
  wasm/session/src/utils.rs
Due: none

disable pull to refresh
  index.html
  src/index.css
  src/main.tsx
Due: eslint --max-warnings 0, prettier --check

various ui improvements
  src/App.tsx
  src/components/AccountBackup.tsx
  src/components/AccountCreation.tsx
  src/components/AccountImport.tsx
  src/components/AccountSelection.tsx
  src/components/BottomNavigation.tsx
  src/components/Discussion.tsx
  src/components/DiscussionList.tsx
  src/components/ErrorBoundary.tsx
  src/components/NewContact.tsx
  src/components/NewDiscussion.tsx
  src/components/OnboardingFlow.tsx
  src/components/Settings.tsx
  src/components/WelcomeBack.tsx
  src/db.ts
  src/index.css
  src/pages/Wallet.tsx
Due: eslint --max-warnings 0, prettier --check

Wasm compilation (#19)
  package.json
  vite.config.ts
  wasm/crypto-rng/README.md
  wasm/main/README.md
  wasm/main/examples/aead_usage.md
Due: eslint --max-warnings 0, prettier --check

integrate wasm compiling to package.json. Wasm funcitons are available in src typescript
  package.json
  src/main.tsx
  src/stores/accountStore.tsx
  src/wasm/loader.ts
  vite.config.ts
Due: eslint --max-warnings 0, prettier --check

copilot review fix
  src/wasm/loader.ts
  wasm/crypto-agraphon/src/agraphon.rs
Due: eslint --max-warnings 0, prettier --check

add wasm:build to the ci
  .github/workflows/format.yml
Due: none

add wasm and js generated files from rust
  .github/workflows/format.yml
  package.json
  src/assets/wasm/README.md
  src/assets/wasm/echo_wasm.d.ts
  src/assets/wasm/echo_wasm.js
  src/assets/wasm/echo_wasm_bg.wasm
  src/assets/wasm/echo_wasm_bg.wasm.d.ts
  src/assets/wasm/package.json
Due: eslint --max-warnings 0, prettier --check

fix fmt issue
  .github/workflows/format.yml
Due: none

remove account import from privateKey
  src/components/AccountBackup.tsx
  src/components/AccountImport.tsx
  src/components/NewContact.tsx
  src/crypto/bip39.ts
  src/crypto/discussionInit.ts
  src/db.ts
  src/main.tsx
  src/services/messageReception.ts
  src/stores/accountStore.tsx
  src/utils/addressUtils.ts
  src/utils/userIdUtils.ts
  src/wasm/index.ts
  src/wasm/initializer.ts
  src/wasm/loader.ts
  src/wasm/types.ts
  src/wasm/userId.ts
Due: eslint --max-warnings 0, prettier --check

generate userId, userPublicKeys, userSecretKeys and massa priv key
  src/assets/wasm/echo_wasm.d.ts
  src/assets/wasm/echo_wasm.js
  src/assets/wasm/echo_wasm_bg.wasm
  src/assets/wasm/echo_wasm_bg.wasm.d.ts
  src/wasm/auth.ts
  wasm/Cargo.lock
  wasm/main/Cargo.toml
  wasm/main/src/lib.rs
Due: eslint --max-warnings 0, prettier --check

expose all user keys from wasm
  package-lock.json
  package.json
  src/assets/wasm/echo_wasm.d.ts
  src/assets/wasm/echo_wasm.js
  src/assets/wasm/echo_wasm_bg.wasm
  src/assets/wasm/echo_wasm_bg.wasm.d.ts
  wasm/main/src/lib.rs
Due: eslint --max-warnings 0, prettier --check

connect wasm module
  .lintstagedrc.json
  .prettierignore
  eslint.config.js
  package.json
  src/api/messageProtocol/mock.ts
  src/api/messageProtocol/rest.ts
  src/api/messageProtocol/types.ts
  src/assets/generated/wasm/README.md
  src/assets/generated/wasm/echo_wasm.d.ts
  src/assets/generated/wasm/echo_wasm.js
  src/assets/generated/wasm/echo_wasm_bg.wasm
  src/assets/generated/wasm/echo_wasm_bg.wasm.d.ts
  src/assets/generated/wasm/package.json
  src/assets/wasm/echo_wasm.js
  src/assets/wasm/echo_wasm_bg.wasm
  src/components/AccountBackup.tsx
  src/crypto/discussionInit.ts
  src/crypto/encryption.ts
  src/db.ts
  src/hooks/useMessages.ts
  src/services/messageReception.ts
  src/stores/accountStore.tsx
  src/stores/utils/getAccount.ts
  src/stores/utils/wasmKeys.ts
  src/wasm/encryption.ts
  src/wasm/index.ts
  src/wasm/initializer.ts
  src/wasm/loader.ts
  src/wasm/session.ts
  src/wasm/types.ts
  src/wasm/userKeys.ts
Due: eslint --max-warnings 0, prettier --check

fix time not implemented on this platform
  src/assets/generated/wasm/echo_wasm.js
  src/assets/generated/wasm/echo_wasm_bg.wasm
  wasm/Cargo.lock
  wasm/main/Cargo.toml
  wasm/main/src/lib.rs
  wasm/sessions/Cargo.toml
  wasm/sessions/src/utils.rs
Due: prettier --check

Refactor message protocol to remove AnnouncementPayload type and update methods to accept Uint8Array directly for session announcements
  src/api/messageProtocol/mock.ts
  src/api/messageProtocol/rest.ts
  src/api/messageProtocol/types.ts
Due: eslint --max-warnings 0, prettier --check

Refactor message protocol to remove AnnouncementPayload type and update methods to accept Uint8Array directly for session announcements (#28)
  src/api/messageProtocol/mock.ts
  src/api/messageProtocol/rest.ts
  src/api/messageProtocol/types.ts
Due: eslint --max-warnings 0, prettier --check

remove duplicated discussion table
  src/api/messageProtocol/mock.ts
  src/components/DiscussionList.tsx
  src/crypto/discussionInit.ts
  src/db.ts
  src/hooks/useDiscussion.ts
  src/hooks/useMessages.ts
  src/services/messageReception.ts
Due: eslint --max-warnings 0, prettier --check

fetch annoucement from sw
  src/components/DiscussionList.tsx
  src/db.ts
  src/hooks/useDiscussion.ts
  src/services/messageReception.ts
  src/sw.ts
Due: eslint --max-warnings 0, prettier --check

Path conditions:
  eslint --max-warnings 0: any of: *.{ts,tsx}
  prettier --check: any of: *.{js,jsx,ts,tsx,json,css,md}
