Repository massalabs/echo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings 0, prettier --check

wasm-pack compilation
  package.json
  src/App.tsx
  src/wasm/WasmTestComponent.tsx
  src/wasm/index.ts
  src/wasm/test.ts
  src/wasm/wasmSetup.ts
Due: eslint --max-warnings 0, prettier --check

fix vite build issue
  package-lock.json
  src/wasm/WasmTestComponent.tsx
  src/wasm/index.ts
  src/wasm/test.ts
  src/wasm/wasmSetup.ts
  vite.config.ts
Due: eslint --max-warnings 0, prettier --check

add mocked discussions
  src/App.tsx
  src/api/messageProtocol.ts
  src/api/messageProtocol/mock.ts
  src/api/messageProtocol/rest.ts
  src/api/messageProtocol/types.ts
  src/components/Discussion.tsx
  src/components/DiscussionList.tsx
  src/config/protocol.ts
  src/crypto/discussionInit.ts
  src/db.ts
  src/hooks/useMessages.ts
  src/services/backgroundSync.ts
  src/services/messageReception.ts
  src/services/notifications.ts
  src/sw.ts
  src/wasm/session.ts
  src/wasm/types.ts
  vite.config.ts
Due: eslint --max-warnings 0, prettier --check

Add Select and TokenSelect components for improved token selection
  src/components/Select.tsx
  src/components/TokenSelect.tsx
  src/components/wallet/SendModal.tsx
  src/stores/utils/const.ts
  src/stores/walletStore.tsx
Due: eslint --max-warnings 0, prettier --check

recieve modal
  src/components/ui/BaseModal.tsx
  src/components/wallet/ReceiveModal.tsx
  src/components/wallet/SendModal.tsx
  src/components/wallet/Wallet.tsx
Due: eslint --max-warnings 0, prettier --check

Refactor Button component and introduce Select component for improved UI consistency
  src/components/ui/Button.tsx
  src/components/ui/Select.tsx
  src/components/wallet/ConfirmTransactionDialog.tsx
  src/components/wallet/FeeConfigModal.tsx
  src/components/wallet/SendModal.tsx
  src/components/wallet/TokenSelect.tsx
Due: eslint --max-warnings 0, prettier --check

Update dependencies and enhance wallet functionality
  package-lock.json
  package.json
  postcss.config.js
  src/App.tsx
  src/components/AddressInput.tsx
  src/components/Button.tsx
  src/components/DiscussionList.tsx
  src/components/NewContact.tsx
  src/components/wallet/ConfirmTransactionDialog.tsx
  src/components/wallet/FeeConfigModal.tsx
  src/components/wallet/SendModal.tsx
  src/components/wallet/Wallet.tsx
  src/index.css
  src/stores/walletStore.tsx
  src/tailwind-presets/colors.js
  src/tailwind-presets/default.js
  tailwind.config.js
  vite.config.ts
Due: eslint --max-warnings 0, prettier --check

swapp alert
  src/components/wallet/Wallet.tsx
Due: eslint --max-warnings 0, prettier --check

Refactor wallet components to use formatAmount for balance display
  src/components/wallet/SendModal.tsx
  src/components/wallet/TokenSelect.tsx
  src/components/wallet/Wallet.tsx
  src/stores/walletStore.tsx
  src/tailwind-presets/colors.js
Due: eslint --max-warnings 0, prettier --check

Refactor Select and ConfirmTransactionDialog components for improved styling
  src/components/ui/Select.tsx
  src/components/wallet/ConfirmTransactionDialog.tsx
  src/pages/Wallet.tsx
Due: eslint --max-warnings 0, prettier --check

refacto
  package-lock.json
  package.json
  postcss.config.js
  src/App.tsx
  src/components/DiscussionList.tsx
  src/components/NewContact.tsx
  src/components/wallet/SendModal.tsx
  src/components/wallet/TokenSelect.tsx
  src/index.css
  src/pages/Wallet.tsx
  src/tailwind-presets/colors.js
  src/tailwind-presets/default.js
  src/temp/parseAmount.tsx
  src/temp/types.ts
  src/temp/useAllowance.tsx
  src/temp/useHandleOperation.tsx
  src/temp/useSend.ts
  tailwind.config.js
  vite.config.ts
Due: eslint --max-warnings 0, prettier --check

Add toast notifications and refactor SendModal for improved user feedback
  src/App.tsx
  src/components/AddressInput.tsx
  src/components/wallet/SendModal.tsx
Due: eslint --max-warnings 0, prettier --check

Update src/temp/useSend.ts
  src/temp/useSend.ts
Due: eslint --max-warnings 0, prettier --check

Refactor wallet components to utilize hooks and improve balance formatting
  src/components/wallet/SendModal.tsx
  src/components/wallet/TokenSelect.tsx
  src/hooks/temp/parseAmount.tsx
  src/hooks/temp/types.ts
  src/hooks/temp/useAllowance.tsx
  src/hooks/temp/useHandleOperation.tsx
  src/hooks/temp/useSend.ts
  src/pages/Wallet.tsx
  src/stores/walletStore.tsx
Due: eslint --max-warnings 0, prettier --check

Update src/components/wallet/SendModal.tsx
  src/components/wallet/SendModal.tsx
Due: eslint --max-warnings 0, prettier --check

fix prettier and remove src/wasm test folder
  src/App.tsx
  src/wasm/WasmTestComponent.tsx
  src/wasm/index.ts
  src/wasm/test.ts
  src/wasm/wasmSetup.ts
  vite.config.ts
  wasm/crypto-rng/README.md
  wasm/main/README.md
  wasm/main/examples/aead_usage.md
Due: eslint --max-warnings 0, prettier --check

Refactor SendModal to improve amount parsing and fee calculation
  src/components/wallet/SendModal.tsx
  src/stores/walletStore.tsx
Due: eslint --max-warnings 0, prettier --check

Update src/hooks/temp/useSend.ts
  src/hooks/temp/useSend.ts
Due: eslint --max-warnings 0, prettier --check

feat: add fee amount to send modal
  src/components/wallet/SendModal.tsx
Due: eslint --max-warnings 0, prettier --check

fix: update error handling in useAllowance hook to reset isPending state on validation errors
  src/hooks/temp/useAllowance.tsx
Due: eslint --max-warnings 0, prettier --check

fix packag-lock.json
  package-lock.json
Due: prettier --check

Update src/stores/walletStore.tsx
  src/stores/walletStore.tsx
Due: eslint --max-warnings 0, prettier --check

Update src/hooks/temp/useHandleOperation.tsx
  src/hooks/temp/useHandleOperation.tsx
Due: eslint --max-warnings 0, prettier --check

Refactor SendModal to enhance balance validation and fee handling
  src/components/wallet/SendModal.tsx
Due: eslint --max-warnings 0, prettier --check

Fix formatting issue in useHandleOperation hook by removing unnecessary blank line
  src/hooks/temp/useHandleOperation.tsx
Due: eslint --max-warnings 0, prettier --check

Send asset (#17)
  package-lock.json
  package.json
  src/App.tsx
  src/components/AddressInput.tsx
  src/components/DiscussionList.tsx
  src/components/ui/BaseModal.tsx
  src/components/ui/Button.tsx
  src/components/ui/Select.tsx
  src/components/wallet/ConfirmTransactionDialog.tsx
  src/components/wallet/FeeConfigModal.tsx
  src/components/wallet/ReceiveModal.tsx
  src/components/wallet/SendModal.tsx
  src/components/wallet/TokenSelect.tsx
  src/hooks/temp/parseAmount.tsx
  src/hooks/temp/types.ts
  src/hooks/temp/useAllowance.tsx
  src/hooks/temp/useHandleOperation.tsx
  src/hooks/temp/useSend.ts
  src/pages/Wallet.tsx
  src/stores/utils/const.ts
  src/stores/walletStore.tsx
Due: eslint --max-warnings 0, prettier --check

docs
  wasm/crypto-agraphon/src/agraphon.rs
  wasm/crypto-agraphon/src/lib.rs
Due: none

zeroization
  wasm/crypto-agraphon/src/agraphon.rs
  wasm/crypto-agraphon/src/announcement.rs
Due: none

fmt
  wasm/crypto-agraphon/src/announcement.rs
Due: none

const time
  wasm/Cargo.lock
  wasm/crypto-agraphon/Cargo.toml
  wasm/crypto-agraphon/src/agraphon.rs
  wasm/crypto-agraphon/src/announcement.rs
Due: none

zeroize warning
  wasm/crypto-agraphon/src/lib.rs
Due: none

docs
  wasm/crypto-agraphon/src/lib.rs
Due: none

typos
  wasm/crypto-agraphon/src/history.rs
Due: none

split and tests
  wasm/Cargo.lock
  wasm/Cargo.toml
  wasm/crypto-agraphon/Cargo.toml
  wasm/crypto-agraphon/src/agraphon.rs
  wasm/crypto-agraphon/src/announcement.rs
  wasm/crypto-agraphon/src/announcement_root_kdf.rs
  wasm/crypto-agraphon/src/history.rs
  wasm/crypto-agraphon/src/lib.rs
  wasm/crypto-agraphon/src/message_integrity_kdf.rs
  wasm/crypto-agraphon/src/message_root_kdf.rs
  wasm/crypto-agraphon/src/seeker_kdf.rs
  wasm/crypto-agraphon/src/static_kdf.rs
  wasm/crypto-agraphon/src/types.rs
  wasm/crypto-kem/Cargo.toml
  wasm/crypto-kem/src/lib.rs
  wasm/echo-session/src/lib.rs
Due: none

add messaging in session
  wasm/echo-session/src/lib.rs
Due: none

security warning
  wasm/crypto-agraphon/src/announcement.rs
Due: none

fix tests
  wasm/crypto-agraphon/src/announcement_root_kdf.rs
  wasm/crypto-agraphon/src/message_integrity_kdf.rs
  wasm/crypto-agraphon/src/message_root_kdf.rs
  wasm/crypto-agraphon/src/seeker_kdf.rs
  wasm/crypto-agraphon/src/static_kdf.rs
  wasm/crypto-agraphon/src/types.rs
  wasm/crypto-kem/src/lib.rs
Due: none

fixes
  wasm/echo-session/src/lib.rs
Due: none

Path conditions:
  eslint --max-warnings 0: any of: *.{ts,tsx}
  prettier --check: any of: *.{js,jsx,ts,tsx,json,css,md}
